<div layout="column" class="md-inline-form comment-window">
  <md-content layout-padding>
    <div class="center-text">
      <form name="commentForm" novalidate role="form" ng-submit="submit(comment)">
        <md-input-container class="md-block" flex-gt-sm>
          <label>
            <i class="material-icons icon-button-adjust">&#xE24C;</i>
            Please leave a comment!
          </label>
          <input required ng-model="comment" name="username">
          <div ng-messages="userForm.username.$error">
            <div ng-message="required" class="error-message">This is required.</div>
          </div>
        </md-input-container>
        <span>
          <md-button class="md-primary md-raised center-button" type="submit">
            Submit
          </md-button>
          <md-button class="md-primary md-raised center-button" ng-click="clear()">
            Cancel
          </md-button>
        </span>
      </form>
    </div>
  </md-content>
</div>
<div class="comment-window">
  <md-button class="md-primary md-raised center-button" ng-click="getComments()">
    Show Previous Messages
  </md-button>
  <div>
    {{comments}}
  </div>
</div>
